<!DOCTYPE html>
<%#include "tabelle002.h" %>
<% tfetch(QVariantMap, tabelle002); %>
<html>
<head>
  <meta charset="UTF-8">
  <title><%= controller()->name() + ": " + controller()->activeAction() %></title>
</head>
<body>
<p style="color: red"><%=$ error %></p>
<p style="color: green"><%=$ notice %></p>

<h1>New Tabelle002</h1>

<%== formTag(urla("create"), Tf::Post) %>
  <p>
    <label>ID<br /><input name="tabelle002[id]" value="<%= tabelle002["id"] %>" /></label>
  </p>
  <p>
    <label>Name<br /><input name="tabelle002[name]" value="<%= tabelle002["name"] %>" /></label>
  </p>
  <p>
    <label>Tabelle 001 ID<br /><input name="tabelle002[tabelle001Id]" value="<%= tabelle002["tabelle001Id"] %>" /></label>
  </p>
  <p>
    <input type="submit" value="Create" />
  </p>
</form>

<%== linkTo("Back", urla("index")) %>

</body>
</html>
